@import "tailwindcss";

body {
  /* background: linear-gradient(to right, #1579fc, #58a6ff); */
  background: linear-gradient(to right, #EEDFDE, #EEDFDE);
}

/* #ADEBB3 Mint Green */
/* #EEDFDE Peach */
/* #007A33 Dark Green */


#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

button {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* Toast Styling */


.Toastify__toast {
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.Toastify__toast--success {
  background: #ecfff3 !important;
  /* Green */
}

.Toastify__toast--error {
  background: #fff2f2 !important;
  /* Red */
}