name: Deploy React App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: |
          export CI=true
          export HUSKY=0
          export NODE_OPTIONS="--max-old-space-size=2048"
          npm run build </dev/null

      - name: Kill leftover node processes
        run: pkill -f node || true

      - name: Deploy build
        run: |
          mkdir -p /var/www/admin-panel
          rm -rf /var/www/admin-panel/*
          cp -r dist/* /var/www/admin-panel/
